Google assistant/flows (1).json
[
  
  {
    "id": "6b9a37eb56c2e16f",
    "type": "tab",
    "label": "led-voice",
    "disabled": false,
    "info": "",
    "env": [ ]
  },
  {
    "id": "97037a5b7018d06b",
    "type": "ibmiot in",
    "z": "6b9a37eb56c2e16f",
    "authentication": "apiKey",
    "apiKey": "46aae1b50b199541",
    "inputType": "evt",
    "logicalInterface": "",
    "ruleId": "",
    "deviceId": "voice",
    "applicationId": "",
    "deviceType": "final",
    "eventType": "status",
    "commandType": "",
    "format": "json",
    "name": "IBM IoT",
    "service": "registered",
    "allDevices": "",
    "allApplications": "",
    "allDeviceTypes": "",
    "allLogicalInterfaces": "",
    "allEvents": "",
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 230,
    "y": 380,
    "wires": [ [ "17a05575cf878543" ] ]
  },
  {
    "id": "17a05575cf878543",
    "type": "function",
    "z": "6b9a37eb56c2e16f",
    "name": "",
    "func": "var evt = {\n    \"d\":{\n    }\n}\n\nevt.d.led=msg.payload.d.led;\nreturn {payload:JSON.stringify(evt)};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [ ],
    "x": 440,
    "y": 380,
    "wires": [ [ "89ebd3c651d8b4d8", "7f3ce54ac41104ef" ] ]
  },
  {
    "id": "89ebd3c651d8b4d8",
    "type": "ibmiot out",
    "z": "6b9a37eb56c2e16f",
    "authentication": "apiKey",
    "apiKey": "46aae1b50b199541",
    "outputType": "cmd",
    "deviceId": "led",
    "deviceType": "finial",
    "eventCommandType": "status",
    "format": "json",
    "data": "data",
    "qos": 0,
    "name": "IBM IoT",
    "service": "registered",
    "x": 720,
    "y": 420,
    "wires": [ ]
  },
  {
    "id": "7f3ce54ac41104ef",
    "type": "debug",
    "z": "6b9a37eb56c2e16f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 910,
    "y": 380,
    "wires": [ ]
  },
  {
    "id": "9a9706f2d6fda811",
    "type": "inject",
    "z": "6b9a37eb56c2e16f",
    "name": "",
    "props": [
      { "p": "payload" },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"d\":{\"led\":\"on\"}}",
    "payloadType": "str",
    "x": 380,
    "y": 540,
    "wires": [ [ "89ebd3c651d8b4d8" ] ]
  },
  {
    "id": "54fa4511d10ba813",
    "type": "inject",
    "z": "6b9a37eb56c2e16f",
    "name": "",
    "props": [
      { "p": "payload" },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"d\":{\"led\":\"off\"}}",
    "payloadType": "json",
    "x": 400,
    "y": 460,
    "wires": [ [ "89ebd3c651d8b4d8" ] ]
  },
  {
    "id": "dedfabe09df70a17",
    "type": "debug",
    "z": "6b9a37eb56c2e16f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 220,
    "wires": [ ]
  },
  {
    "id": "46aae1b50b199541",
    "type": "ibmiot",
    "name": "juju",
    "keepalive": "60",
    "serverName": "",
    "cleansession": true,
    "appId": "",
    "shared": false
  }
]